<?xml version="1.0"?>

<launch>
  <arg name="fcu_url" default="udp://:14540@127.0.0.1:14550"/>
  <arg name="gcs_url" default="udp://:14549@127.0.0.1:14548"/>
  <arg name="video_udp_port" default="5600"/>
  <arg name="system_id" default="255"/>
  <arg name="component_id" default="240"/>
  <arg name="tgt_system" default="1"/>
  <arg name="tgt_component" default="1"/>
  <arg name="pluginlists_yaml" value="$(find docking_control)/launch/mav_pluginlists.yaml"/>
  <arg name="config_yaml" value="$(find mavros)/launch/apm_config.yaml"/>
  <arg name="joy_dev" default="/dev/input/js0"/>
  <arg name="log_output" default="screen"/>
  <arg name="log_images" default="false" />
  <arg name="draw_sonar" default="true" />
  <arg name="robot_description_xacro" default="$(find docking_control)/model/bluerov2_heavy/config.xacro"/>

  <node pkg="mavros" type="mavros_node" name="mavros" required="true" clear_params="true" output="$(arg log_output)" launch-prefix="taskset -c 1">
    <param name="fcu_url" value="$(arg fcu_url)"/>
    <param name="gcs_url" value="$(arg gcs_url)"/>
    <param name="system_id" value="$(arg system_id)"/>
    <param name="component_id" value="$(arg component_id)"/>
    <param name="target_system_id" value="$(arg tgt_system)"/>
    <param name="target_component_id" value="$(arg tgt_component)"/>
    <rosparam command="load" file="$(arg pluginlists_yaml)"/>
    <rosparam command="load" file="$(arg config_yaml)"/>
  </node>

  <!-- start the joystick driver -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" type="string" value="$(arg joy_dev)" />
  </node>

  <node pkg="rosservice" type="rosservice" name="mavros_set_stream" args="call --wait /mavros/set_stream_rate 0 10 1"/>

  <node pkg="docking_control" type="manager.py" name="blue_manager" output="$(arg log_output)"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_thruster1" args="0.14 -0.092 0 -1.571 1.571 -0.785 base_link thruster1" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_thruster2" args="0.14 0.092 0 -1.571 1.571 -2.356 base_link thruster2" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_thruster3" args="-0.15 -0.092 0 -1.571 1.571 0.785 base_link thruster3" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_thruster4" args="-0.15 0.092 0 -1.571 1.571 2.356 base_link thruster4" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_thruster5" args="0.118 -0.215 0.064 0 0 0 base_link thruster5" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_thruster6" args="0.118 0.215 0.064 0 0 0 base_link thruster6" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_thruster7" args="-0.118 -0.215 0.064 0 0 0 base_link thruster7" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_thruster8" args="-0.118 0.215 0.064 0 0 0 base_link thruster8" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0 0 0 0 base_footprint base_link" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="dock_to_map" args="0 0 0 0 0 0 dock map" />

  <!-- Inner Tags -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="marker18_to_dock_tf_broadcaster" args="0 -0.1025 0.259 0 1.571 -1.571  marker_18 dock" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="marker17_to_marker18_tf_broadcaster" args="0.227 0.073 0 0 0 0  marker_17 marker_18" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="marker16_to_marker17_tf_broadcaster" args="-0.386 0 0 0 0 0  marker_16 marker_17" />

  <!-- Front Tags -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="marker12_to_marker16_tf_broadcaster" args="-0.201 -0.357 -0.862 0 0 0  marker_12 marker_16" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="marker15_to_marker12_tf_broadcaster" args="-0.025 0.693 0 0 0 0  marker_15 marker_12" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="marker7_to_marker15_tf_broadcaster" args="0.807 0.036 0 0 0 0  marker_7 marker_15" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="marker14_to_marker7_tf_broadcaster" args="-0.027 -0.655 0 0 0 0  marker_14 marker_7" />

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="marker1_to_dock_tf_broadcaster" args="0 0 0 0 1.571 -1.571  marker_1 dock" /> -->


  <param name="robot_description" command="$(find xacro)/xacro $(arg robot_description_xacro)"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

  <node pkg="docking_control" type="video.py" name="video_feed" output="$(arg log_output)" launch-prefix="taskset -c 2">
      <param name="video_udp_port" value="$(arg video_udp_port)"/>
  </node>

  <!-- <node pkg="docking_control" type="webcam.py" name="webcam" output="$(arg log_output)" launch-prefix="taskset -c 6" /> -->

  <node pkg="docking_control" type="marker_detection.py" name="marker_detection" output="$(arg log_output)" launch-prefix="taskset -c 3" />

  <node pkg="docking_control" type="pwm_publish_node.py" name="pwm_publish" output="$(arg log_output)" launch-prefix="taskset -c 4" />

  <node pkg="docking_control" type="mission_control.py" name="mission_control" output="$(arg log_output)" launch-prefix="taskset -c 5" />

  <node pkg="planner" type="main" name="planner" output="$(arg log_output)" launch-prefix="taskset -c 7" />

  <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true" output="$(arg log_output)" launch-prefix="taskset -c 8">
    <rosparam command="load" file="$(find docking_control)/config/ekf.yaml"/>
  </node> -->

  <!-- <node pkg="sonar_odom" type="main" name="sonar_odom" output="$(arg log_output)" launch-prefix="taskset -c 9" /> -->

  <include file="$(find oculus_sonar_driver)/launch/default_ros.launch">
    <arg name="draw_sonar" value="$(arg draw_sonar)"/>
  </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find docking_control)/rviz/bluerov.rviz" />

</launch>
